/* selected tag{
  property: value;
} */

h1{
  text-align: center;
  font-family: 'Playfair Display', serif;
  border: 3.5px solid black;
}
body{background-color:  #caf0f8
    ;}
img{
  margin:0px 600px 0px 300px;
  border: 4px solid black;
}
div{
  text-align: center;
  background-color: #8ecae6;
  margin: 
  420px 420px 420px 420px;
  border: dotted black;
}
img{
  margin:0px 300px 0px 69px;
  border: 4px solid black;
}
